body {
    background-color: black;
    font-family: Verdana;
    color: white;
    text-align: center;

}

h2 {
    text-align: center;
    font-weight: normal;
    font-size: 50px;
}

.link {
    color: aquamarine;
    font-size: 16px;
}

h3 {
    font-weight: 300;
    font-size: 42px;
}

p {
    color: gray;
    font-size: 21px;
}

.footer {
    text-align: right;
    color: gray;
    font-size: 21px;
}